@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tasks";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["TaskMessage"]</h3>

@{
    assignment.Models.TaskVO task1 = (assignment.Models.TaskVO)ViewData["Task1"];
    assignment.Models.TaskVO task2 = (assignment.Models.TaskVO)ViewData["Task2"];
    assignment.Models.TaskVO task3 = (assignment.Models.TaskVO)ViewData["Task3"];
    assignment.Models.TaskVO task4 = (assignment.Models.TaskVO)ViewData["Task4"];
    assignment.Models.TaskVO task5 = (assignment.Models.TaskVO)ViewData["Task5"];
    assignment.Models.TaskVO task6 = (assignment.Models.TaskVO)ViewData["Task6"];
    assignment.Models.TaskVO task7 = (assignment.Models.TaskVO)ViewData["Task7"];
    assignment.Models.TaskVO task8 = (assignment.Models.TaskVO)ViewData["Task8"];
}

@model IEnumerable<assignment.Models.TaskVO>

<!DOCTYPE html>
<html>
<head>
    <title>Tasks Viewport</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment1 - @ViewData["Title"]</title>

    <style>
        table, th, td {
            border: 1.5px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }

        th {
            text-align: left;
        }

        .tab-panels ul {
            margin: 0;
            padding: 0;
        }

            .tab-panels ul li {
                list-style-type: none;
                display: inline-block;
                background: #999;
                margin: 0;
                padding: 3px 10px;
                border-radius: 10px 10px 0 0;
                color: #fff;
                font-weight: normal;
                cursor: pointer;
            }

                .tab-panels ul li:hover {
                    color: #fff;
                    background: #777;
                    font-weight: bold;
                }

                .tab-panels ul li.active {
                    color: #9c0;
                    background: #666;
                    font-weight: bold;
                }

        .tab-panels .panel {
            display: none;
            background: #c9c9c9;
            padding: 30px;
            border-radius: 0 0 10px 10px;
        }

            .tab-panels .panel.active {
                display: block;
            }
    </style>

    <script src="~/lib/jquery/dist/jquery.js"></script>



    <script>
        $(document).ready(function () {
            $(".tab-panels .tabs li").on("click", function () {

                //figure out which panel to show
                $(".tab-panels .tabs li.active").removeClass("active");
                $(this).addClass("active");

                var panelToShow = $(this).attr("rel");

                $(".tab-panels .panel.active").slideUp(272, showNextPanel);
                //hide current panel

                //show new panel

                function showNextPanel() {
                    $(this).removeClass("active");

                    $("#" + panelToShow).slideDown(272, function () {

                        $(this).addClass("active");
                    });
                }
            });

        });

        @*function submitTasks() {
            $(".Submit").click(function () {

                var iteration1 = $("#Iteration1");
                var firstname1 = $("#firstname1");
                var lastname1 = $("lastname1");
                var task1 = $("task1");
                var status1 = $(status1");

                var iteration2 = $("#Iteration2");
                var firstname2 = $("#firstname2");
                var lastname2 = $("lastname2");
                var task2 = $("task2");
                var status2 = $(status2");





                $.ajax({
                    type: "POST",
                    contexType: "application/json",
                    url: "Home/AddTasks",
                    data:
                    "{{     'iteration':'" + iteration1.value +
                        "','firstname':'" + firstname1.value +
                        "','lastname':'" + lastname1.value +
                        "','task':'" + task.value +
                        "','status':'" + status1.value + "'},
                      {     'iteration':'" + iteration2.value +
                        "','firstname':'" + firstname2.value +
                        "','lastname':'" + lastname2.value + +
                        "','task':'" + task2.value +
                        "','status':'" + status2.value + "'}
                    }",
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            alert("Update Successfully!");
                            dataTable.ajax.reload();
                        }
                    }
                });
            })

        }*@
    </script>

</head>
<body>


    <div class="tab-panels">
        <ul class="tabs">
            <li rel="Iteration1" class="active">@task1.iteration</li>
            <li rel="Iteration2">@task3.iteration</li>
            <li rel="Iteration3">@task5.iteration</li>
            <li rel="Iteration4">@task7.iteration</li>
        </ul>

        <div id="Iteration1" value="Iteration1" class="panel active">

            <form name="@task1.iteration" runat="server" method="post" asp-controller="Home" asp-action="AddTasks">
                <table style="width:100%">

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.firstName)</th>
                        <th>@Html.DisplayNameFor(model => model.lastName)</th>
                        <th>@Html.DisplayNameFor(model => model.task)</th>
                        <th>@Html.DisplayNameFor(model => model.status)</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname1" name="firstname1" value="@task1.firstName"></td>
                        <td><input type="text" id="lastname1" name="lastname1" value="@task1.lastName"></td>
                        <td>
                            <select name="task1" id="task1">
                                <option name="presentTask" selected>@task1.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status1" id="status1">
                                <option name="presentStatus" selected>@task1.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname2" name="firstname2" value="@task2.firstName"></td>
                        <td><input type="text" id="lastname2" name="lastname2" value="@task2.lastName"></td>
                        <td>
                            <select name="task2" id="task2">
                                <option name="presentTask" selected>@task2.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status2" id="status2">
                                <option name="presentStatus" selected>@task2.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" class="Submit">
                <br><br>
            </form>
        </div>

        <div id="Iteration2" value="Iteration2" class="panel">

            <form name="@task3.iteration" method="post" asp-controller="Home" asp-action="AddTasks">
                <table style="width:100%">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.firstName)</th>
                        <th>@Html.DisplayNameFor(model => model.lastName)</th>
                        <th>@Html.DisplayNameFor(model => model.task)</th>
                        <th>@Html.DisplayNameFor(model => model.status)</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname3" name="firstname" value="@task3.firstName"></td>
                        <td><input type="text" id="firstname3" name="lastname" value="@task3.lastName"></td>
                        <td>
                            <select name="task" id="task3">
                                <option name="presentTask" selected>@task3.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status" id="status3">
                                <option name="presentStatus" selected>@task3.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname4" name="firstname" value="@task4.firstName"></td>
                        <td><input type="text" id="firstname4" name="lastname" value="@task4.lastName"></td>
                        <td>
                            <select name="task" id="task4">
                                <option name="presentTask" selected>@task4.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status" id="status4">
                                <option name="presentStatus" selected>@task4.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" class="Submit">
                <br><br>
            </form>

        </div>

        <div id="Iteration3" value="Iteration3" class="panel">

            <form name="@task5.iteration" method="post" asp-controller="Home" asp-action="AddTasks">
                <table style="width:100%">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.firstName)</th>
                        <th>@Html.DisplayNameFor(model => model.lastName)</th>
                        <th>@Html.DisplayNameFor(model => model.task)</th>
                        <th>@Html.DisplayNameFor(model => model.status)</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname5" name="firstname" value="@task5.firstName"></td>
                        <td><input type="text" id="firstname5" name="lastname" value="@task5.lastName"></td>
                        <td>
                            <select name="task" id="task5">
                                <option name="presentTask" selected>@task5.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status" id="status5">
                                <option name="presentStatus" selected>@task5.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname6" name="firstname" value="@task6.firstName"></td>
                        <td><input type="text" id="firstname6" name="lastname" value="@task6.lastName"></td>
                        <td>
                            <select name="task" id="task6">
                                <option name="presentTask" selected>@task6.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status" id="status6">
                                <option name="presentStatus" selected>@task6.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" class="Submit">
                <br><br>
            </form>

        </div>

        <div id="Iteration4" value="Iteration4" class="panel">

            <form name="@task7.iteration" method="post" asp-controller="Home" asp-action="AddTasks">
                <table style="width:100%">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.firstName)</th>
                        <th>@Html.DisplayNameFor(model => model.lastName)</th>
                        <th>@Html.DisplayNameFor(model => model.task)</th>
                        <th>@Html.DisplayNameFor(model => model.status)</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname7" name="firstname" value="@task7.firstName"></td>
                        <td><input type="text" id="firstname7" name="lastname" value="@task7.lastName"></td>
                        <td>
                            <select name="task" id="task7">
                                <option name="presentTask" selected>@task7.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status" id="status7">
                                <option name="presentStatus" selected>@task7.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" id="firstname8" name="firstname" value="@task8.firstName"></td>
                        <td><input type="text" id="firstname8" name="lastname" value="@task8.lastName"></td>
                        <td>
                            <select name="task" id="task8">
                                <option name="presentTask" selected>@task8.task</option>
                                <option value="Research">Research</option>
                                <option value="assignment1">Assignment 1</option>
                                <option value="assignment2">Assignment 2</option>
                                <option value="assignment3">Assignment 3</option>
                            </select>
                        </td>
                        <td>
                            <select name="status" id="status8">
                                <option name="presentStatus" selected>@task8.status</option>
                                <option value="Defined">Defined</option>
                                <option value="inProgress">In Progress</option>
                                <option value="completed">Completed</option>
                                <option value="accepted">Accepted</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" class="Submit">
                <br><br>
            </form>

        </div>
    </div>





    @*<div class="tab-panels">
            <ul class="tabs">
                <li rel="Iteration1" class="active">@task1.iteration</li>
                <li rel="Iteration2">@task3.iteration</li>
                <li rel="Iteration3">@task5.iteration</li>
                <li rel="Iteration4">@task7.iteration</li>
            </ul>

            <div id="Iteration1" value="Iteration1" class="panel active">

                <form name="@task1.iteration" method="post" asp-controller="Home" asp-action="AddTasks">
                    <table style="width:100%">

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.firstName)</th>
                            <th>@Html.DisplayNameFor(model => model.lastName)</th>
                            <th>@Html.DisplayNameFor(model => model.task)</th>
                            <th>@Html.DisplayNameFor(model => model.status)</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname1" name="firstname1" value="@task1.firstName"></td>
                            <td><input type="text" id="lastname1" name="lastname1" value="@task1.lastName"></td>
                            <td>
                                <select name="task1" id="task1">
                                    <option name="presentTask" selected>@task1.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status1" id="status1">
                                    <option name="presentStatus" selected>@task1.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname2" name="firstname2" value="@task2.firstName"></td>
                            <td><input type="text" id="lastname2" name="lastname2" value="@task2.lastName"></td>
                            <td>
                                <select name="task2" id="task2">
                                    <option name="presentTask" selected>@task2.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status2" id="status2">
                                    <option name="presentStatus" selected>@task2.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" class="Submit">
                    <br><br>
                </form>
            </div>

            <div id="Iteration2" value="Iteration2" class="panel">

                <form name="@task3.iteration" method="post" asp-controller="Home" asp-action="AddTasks">
                    <table style="width:100%">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.firstName)</th>
                            <th>@Html.DisplayNameFor(model => model.lastName)</th>
                            <th>@Html.DisplayNameFor(model => model.task)</th>
                            <th>@Html.DisplayNameFor(model => model.status)</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname3" name="firstname" value="@task3.firstName"></td>
                            <td><input type="text" id="firstname3" name="lastname" value="@task3.lastName"></td>
                            <td>
                                <select name="task" id="task3">
                                    <option name="presentTask" selected>@task3.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status" id="status3">
                                    <option name="presentStatus" selected>@task3.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname4" name="firstname" value="@task4.firstName"></td>
                            <td><input type="text" id="firstname4" name="lastname" value="@task4.lastName"></td>
                            <td>
                                <select name="task" id="task4">
                                    <option name="presentTask" selected>@task4.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status" id="status4">
                                    <option name="presentStatus" selected>@task4.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" class="Submit">
                    <br><br>
                </form>

            </div>

            <div id="Iteration3" value="Iteration3" class="panel">

                <form name="@task5.iteration" method="post" asp-controller="Home" asp-action="AddTasks">
                    <table style="width:100%">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.firstName)</th>
                            <th>@Html.DisplayNameFor(model => model.lastName)</th>
                            <th>@Html.DisplayNameFor(model => model.task)</th>
                            <th>@Html.DisplayNameFor(model => model.status)</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname5" name="firstname" value="@task5.firstName"></td>
                            <td><input type="text" id="firstname5" name="lastname" value="@task5.lastName"></td>
                            <td>
                                <select name="task" id="task5">
                                    <option name="presentTask" selected>@task5.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status" id="status5">
                                    <option name="presentStatus" selected>@task5.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname6" name="firstname" value="@task6.firstName"></td>
                            <td><input type="text" id="firstname6" name="lastname" value="@task6.lastName"></td>
                            <td>
                                <select name="task" id="task6">
                                    <option name="presentTask" selected>@task6.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status" id="status6">
                                    <option name="presentStatus" selected>@task6.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" class="Submit">
                    <br><br>
                </form>

            </div>

            <div id="Iteration4" value="Iteration4" class="panel">

                <form name="@task7.iteration" method="post" asp-controller="Home" asp-action="AddTasks">
                    <table style="width:100%">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.firstName)</th>
                            <th>@Html.DisplayNameFor(model => model.lastName)</th>
                            <th>@Html.DisplayNameFor(model => model.task)</th>
                            <th>@Html.DisplayNameFor(model => model.status)</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname7" name="firstname" value="@task7.firstName"></td>
                            <td><input type="text" id="firstname7" name="lastname" value="@task7.lastName"></td>
                            <td>
                                <select name="task" id="task7">
                                    <option name="presentTask" selected>@task7.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status" id="status7">
                                    <option name="presentStatus" selected>@task7.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="firstname8" name="firstname" value="@task8.firstName"></td>
                            <td><input type="text" id="firstname8" name="lastname" value="@task8.lastName"></td>
                            <td>
                                <select name="task" id="task8">
                                    <option name="presentTask" selected>@task8.task</option>
                                    <option value="Research">Research</option>
                                    <option value="assignment1">Assignment 1</option>
                                    <option value="assignment2">Assignment 2</option>
                                    <option value="assignment3">Assignment 3</option>
                                </select>
                            </td>
                            <td>
                                <select name="status" id="status8">
                                    <option name="presentStatus" selected>@task8.status</option>
                                    <option value="Defined">Defined</option>
                                    <option value="inProgress">In Progress</option>
                                    <option value="completed">Completed</option>
                                    <option value="accepted">Accepted</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" class="Submit">
                    <br><br>
                </form>

            </div>
        </div>*@



</body>
</html>
